<div class="modal hidden" id="loginModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Login to Your Account</h3>
                <button class="modal-close" onclick="closeModal('loginModal')">&times;</button>
            </div>
            <form class="modal-body" id="loginForm" action="/signup/login" method="post">
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="login_email" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="login_pass" required>
                </div>
                <button type="submit" class="btn btn--primary btn--full-width">Login</button>
                <p class="text-center mt-8">
                    Don't have an account? 
                    <a href="#" onclick="switchModal('loginModal', 'registerModal')">Register here</a>
                </p>
            </form>
        </div>
    </div>